.footer {
  display: flex;
  justify-content: center;
  color: #666;
  padding: 50px 0px;
  border-top: 1px solid #ebe9e9;

  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 100%;
    padding: 0px 34px;

    .top {
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
          font-size: 16px;
          color: #555;
        }

        span {
          font-weight: 300;
          cursor: pointer;
        }
      }
    }

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid #ebe9e9;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }

      .right {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 30px;

        .social {
          display: flex;
          gap: 20px;

          img {
            cursor: pointer;
          }
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
